*{
    padding: 0;
    margin: 0;
    color: #ffff;

}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,16,60,1) 0%, rgba(0,159,150,1) 50%, rgba(0,16,60,1) 100%);
}

.wrap-login{
    position: relative;
    box-shadow: rgba(6, 0, 85, 0.993) 0px 7px 29px 0px;
    border-radius: 20px;
    
}

.form-div{
    width: 25rem;
    height: auto;
    padding: 1rem;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 12px double;
    border-color: rgb(0, 48, 66);
    box-shadow: rgba(0, 3, 43, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-style{
    border-radius: 20px;
    box-shadow: rgba(6, 0, 85, 0.993) 0px 7px 29px 0px;
    width: 20rem;
}

input{
    color: rgb(1, 58, 105);
    background-color: rgba(0, 39, 110, 0.761);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    width: 21rem;
}

#nome, #senha{
    color: #ffff !important;
}

input:focus{
    color: #ffff;
    box-shadow: rgba(6, 0, 85, 0.993) 0px 7px 29px 0px;
    background-color: rgba(2, 57, 158, 0.761);
    outline: none;
}

input:focus::placeholder{
    color: rgb(187, 187, 187) !important;
}

button{
    padding: 1rem;
    border: none;
    background-color: rgba(6, 7, 83, 0.761);
    color: rgb(213, 206, 219);
    font-size: 1.2rem;
    border-radius: 1rem;    

}

button:hover{
    color: #ffff;
    cursor:pointer;    
    box-shadow: rgba(6, 0, 85, 0.993) 0px 7px 29px 0px;
}

.error-div{
    display: none;
    position: absolute;
    background-color: rgb(155, 1, 1);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 3vh;
    box-shadow: rgba(0, 0, 0, 0.755) 0px 7px 29px 0px;
    color: #ffff;
}

.error-btn{
    background-color: rgb(214, 0, 0);
    padding: 1rem 2rem;
}

button:hover{
    color: #ffff;
    cursor:pointer;    
    box-shadow: rgba(20, 0, 0, 0.755) 0px 7px 29px 0px;
}