*{
    padding: 0;
margin: 0;
}
header {
    width: 100vw;
    height: 50px;
    background-color: antiquewhite;
    position: fixed;
}
a {
    text-decoration: none;
    color:peru;
}
a:hover{
    text-decoration: underline;

}